<%- include("partials/header.ejs") %>
    <style>
    </style>
    <body class="col-md-12">
        <div class="jumbotron box">
            <form action="/" enctype="multipart/form-data" method="POST"> 
            <input type="file" name="file" />
            <button type="submit">Upload</button>
         </form>
        </div>          
    </body>
<%- include("partials/footer.ejs") %>